<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="5">
  <test name="Test" parallel="classes">
    <classes>
      <class name="testcases.VerifyLoginTest"/>
      <class name="testcases.CreateLeadTest"/>
      <class name="testcases.MergeLeadTest"/>
      <class name="testcases.EditLeadTest"/>
      <class name="testcases.DeleteLeadTest"/>
      <class name="testcases.DuplicateLeadTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
